.hero{
    background-image: url('../../public/DESKTOP/SanDiego.jpg');
    height: 100vh;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero img {
    width: 150px;
    height: 150px;

}

.heading {
    color: var(--white);
    position: absolute;
    bottom: 28%;
    font-size: 6.2rem;
    text-align: center;
    width: 100%;
    letter-spacing: .4rem;
    left: 0;
    right: 0;
}
.heading__wrapp {
    width: 100vw;
    height: 100%;
    background-color: rgba(80, 74, 74, 0.461);  
   
}

.main{
    width: 90%;
    margin: 0 auto;
}
.main__heading{
    margin: 5rem 0 3rem 0;
    border-top: 0.7px solid var(--dark-grey);
    padding-top: 1.2rem;
}
.main__heading p {
    font-size: 1.8rem;
    margin: 2rem 0 6rem 0;
}

.grid {
    display: grid;
    gap: 4rem;
}
.grid a {
    border: 2px solid black;
    border-radius: 1rem;
}
.grid img {
    border-radius: 1rem 1rem 0 0;
    max-height: 350px;
}
.grid h3 {
    color: var(--black);
    font-size: 2.3rem;
    margin: 2rem 0 1rem 1rem;
}
@media screen and (min-width: 768px) {
    .hero{
        background-image:  url('../../public/DESKTOP/SanDiego.jpg');
        background-size: cover;
          
    }
    .heading__wrapp {
        width: 100vw;
        height: 300px;
        background-color: rgba(80, 74, 74, 0.46);
        bottom: calc(50% - 150px);
       
        
       
    }
    .heading{
        font-size: 9rem;
        position: unset;
        width: 100%;
        text-align: center;
        position: inherit;
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        letter-spacing: .6rem;
    }
}

@media screen and (min-width: 968px) {
    .hero img {
        width: auto;
        height: auto;
    }
}